<div class="container">
    <div class="col-xs-12">
        <div class="list-group" *ngFor="let group of groups">
            <div class="group-item">
                <a routerLink="/children/{{ group.pk }}" class="list-group-item list-group-item-action">{{ group.name }}
                    </a>
                <button routerLink="/group/{{ group.pk }}" type="button " class="edit-button btn btn-light btn-sm pull-right ">&#x270F;</button>
            </div>
        </div>
    </div>
</div>
<div class="spacer20 "></div>
<div class="container ">
    <div class="row ">
        <div class="col text-center ">
            <button class="btn btn-secondary btn-sm " (click)="onNewGroup() ">Add Group</button>
        </div>
    </div>
</div>