<div class="container">
    <div class="col-xs-12">
        <a routerLink="/children/{{ group.pk }}" class="list-group-item clearfix" *ngFor="let group of groups">
            <div class="pull-left">
                <button type="button" class="btn btn-info btn-lg btn-block">{{ group.name }}</button>
            </div>
        </a>
    </div>
</div>
<div class="spacer20"></div>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <button class="btn btn-dark btn-sm" (click)="onNewGroup()">Add Group</button>
        </div>
    </div>
</div>