<div class="spacer20"></div>
<div class="container">
    <div class="row">
        <div class="col text-right">
            <button class="btn btn-secondary btn-sm" (click)="onNewChild()">Add Child</button>
        </div>
    </div>
</div>
<div class="spacer20"></div>
<div class="container">
    <div class="col-xs-12">
        <div class="list-group" *ngFor="let child of children">
            <div class="group-item">
                <li class="list-group-item list-group-item-action">{{ child.name }}</li>
                <button routerLink="/child/{{ child.pk }}" type="button" class="edit-button btn btn-light btn-sm pull-right">&#x270F;</button>
            </div>
        </div>
    </div>
</div>