<div class="container" id="addForm">
    <div class="col-xs-12">
        <form (ngSubmit)="onAddChild(f)" #f="ngForm">
            <div class="form-group">
                <label for="name" class="font-weight-bold">Child Name</label>
                <input type="text" class="form-control" name="name" id="name" aria-describedby="" placeholder="" ngModel required>
            </div>
            <div class="form-group">
                <label for="group" class="font-weight-bold">Group</label>
                <select class="form-control" name="group" id="group" [(ngModel)]="selectedGroup">
                    <option *ngFor="let group of groups" [(ngValue)]="group">{{ group.name }}</option>
                  </select>
            </div>
            <div class="form-group">
                <label for="users" class="font-weight-bold">Users</label>
                <select class="form-control" name="users" id="users" [(ngModel)]="selectedUser">
                  <option *ngFor="let user of users" [ngValue]="user">{{ user.name }}</option>
                </select>
                <button type="button" class="btn btn-secondary" (click)="onAddUser()">+</button>
                <button type="button" class="btn btn-secondary" (click)="onRemoveParent()">-</button>
            </div>
            <div class="form-group">
                <label for="parents">Parents</label>
                <select name="parents" multiple class="form-control" [(ngModel)]="parents">
                        <option *ngFor="let parent of parents" [ngValue]="parent">{{ parent.name }}</option>
                    </select>
            </div>

            <div class="col text-center">
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </form>
    </div>
</div>