<div class="row">
    <div class="col-xs-12">
        <div routerLink="/food-sleep/{{ dateIdentifier }}" class="datePicker">
            <i class="fa fa-chevron-circle-left" style="font-size:24px" (click)="previousDate()"></i>
            <h5 class="dateHeader">{{ dateHeader }}</h5>
            <i class="fa fa-chevron-circle-right" style="font-size:24px" (click)="nextDate()"></i>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="list-group-item clearfix">
            <div class="list-group-item-heading" *ngFor="let item of food_sleep">
                <ul class="list-inline">
                    <li>{{ item.name }}</li>
                    <!-- <li>{{ item.breakfast }}</li> -->
                    <figure class="figure">
                        <img *ngIf="item.breakfast === 1" src={{images[0]}} class="figure-img img-fluid rounded">
                        <img *ngIf="item.breakfast === 0" src={{images[2]}} class="figure-img img-fluid rounded">
                        <img *ngIf="item.breakfast === 0.5" src={{images[1]}} class="figure-img img-fluid rounded">
                        <img *ngIf="item.breakfast === null" src={{images[3]}} class="figure-img img-fluid rounded">
                        <figcaption class="figure-caption">Breakfast</figcaption>
                    </figure>
                    <figure class="figure">
                        <img *ngIf="item.soup === 1" src={{images[0]}} class="figure-img img-fluid rounded">
                        <img *ngIf="item.soup === 0" src={{images[2]}} class="figure-img img-fluid rounded">
                        <img *ngIf="item.soup === 0.5" src={{images[1]}} class="figure-img img-fluid rounded">
                        <img *ngIf="item.soup === null" src={{images[3]}} class="figure-img img-fluid rounded">
                        <figcaption class="figure-caption">Soup</figcaption>
                    </figure>
                    <figure class="figure">
                        <img *ngIf="item.main_dish === 1" src={{images[0]}} class="figure-img img-fluid rounded">
                        <img *ngIf="item.main_dish === 0" src={{images[2]}} class="figure-img img-fluid rounded">
                        <img *ngIf="item.main_dish === 0.5" src={{images[1]}} class="figure-img img-fluid rounded">
                        <img *ngIf="item.main_dish === null" src={{images[3]}} class="figure-img img-fluid rounded">
                        <figcaption class="figure-caption">Main Dish</figcaption>
                    </figure>
                    <figure class="figure-sleep">
                        <img *ngIf="item.sleepDuration !== '00:00'" src='../assets/sleep.png' class="figure-sleep img-fluid rounded">
                        <img *ngIf="item.sleepDuration == '00:00'" src='../assets/sleep-null.png' class="figure-sleep img-fluid rounded">
                        <figcaption class="figure-caption">{{ item.sleepDuration }}</figcaption>
                        <!-- <hr> -->
                        <!-- <figcaption class="figure-caption">{{ item.sleepStartTime }} - {{ item.sleepEndTime }}</figcaption> -->
                    </figure>
                    <hr>
                </ul>
            </div>
            <div class="legend">
                <ul>
                    <li class="legend-item"><img src="{{images[3]}}">
                        <p>No info</p>
                    </li>
                    <li class="legend-item"><img src="{{images[2]}}">
                        <p>Ate nothing</p>
                    </li>
                    <li class="legend-item"><img src="{{images[1]}}">
                        <p>Ate half of the food</p>
                    </li>
                    <li class="legend-item"><img src="{{images[0]}}">
                        <p>Ate everything</p>
                    </li>
                    <li class="legend-item"><img src="{{images[4]}}">
                        <p>Asked for a second serving</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>