.datePicker {
    text-align: center;
    font-style: italic;
    color: rgb(83, 77, 77);
}

h5 {
    display: inline-block;
    padding: 20px;
}

img {
    max-width: 60px;
}

.figure-sleep {
    float: right;
    max-width: 50px;
    text-align: center;
    padding-left: 5px;
    font-size: smaller;
}

li {
    font-weight: 600;
}

.legend ul {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.legend li {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.legend li img {
    width: 32px;
}

.legend li p {
    flex: 30%;
    font-size: 12px;
    padding: 0 10px;
    margin: 0;
    line-height: 23px;
}