/* You can add global styles to this file, and also import other style files */

body {
  max-width: 550px;
  width: 100%;
  margin: 0 auto;
}

.row {
  width: 100%;
  margin: 0;
  padding: 0;
}

.row > div {
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  padding: 0px;
  margin: 0;
}

.spacer20 {
  height: 30px;
}

h5 {
  font-size: 1rem;
}

h4,
h6 {
  float: left;
}

#Food {
  max-height: 30px;
  float: right;
}

figure {
  max-width: 60px;
  text-align: center;
  margin: 0 7px;
  padding-left: 5px;
  font-size: smaller;
  margin: 0 7px;
}

#addForm {
  width: 80%;
  position: relative;
  padding-top: 60px;
  margin: auto;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}